<h2>Add list form</h2>


<form action="/view_lists" method="post">

  <input type="text" name="list_name" id="list_name" placeholder="Place list here">
  <button name="Add List" type="submit">Add List</button>
</form>
